/*  027-Botonera.css
    Versión 1.0 05/12/2018 Juan Manuel Cueva Lovelle. Universidad de Oviedo
*/
h1{
    text-align:left;
    color:blue;
}
h2{
    text-align:left;
    color:green;
}
h3{
    text-align:left;
    color:red;
}
h4{
    text-align:left;
    color:mediumorchid;
}
p{
    color:gray;
}
code{
    text-align:left;
    color:blue;
}
span{
    color:red;
}
div{
    text-align:left;
    color:black;
}
footer{
    margin-top:2em;
}
footer a img{
    height:31px; 
    width:88px;
}
